/* assets/styles.css */

/* Make dropdowns responsive */
.custom-dropdown {
    width: 100%;
    font-size: 14px;
    padding: 5px;
}

.custom-dropdown .Select-option {
    white-space: normal !important; /* Allows text to wrap */
    word-wrap: break-word !important; /* Ensures text wraps correctly */
    overflow-wrap: break-word !important;
    display: block !important;
    text-align: left !important;
}

.cta-button {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(128,0,128,1) 67%);
    color: white;
    padding: 1rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.cta-button:hover {
    transform: scale(1.10);
    box-shadow: 0px 4px 15px rgba(128,0,128,0.4);
    transition: 0.5s ease; 
}

/* Button styling */
.btn-custom {
    width: 100%;
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

/* Large screens (lg) - between 1200px and 1400px */
@media (max-width: 1450px) {
    .btn-custom {
        font-size: 80%;
    }
}

/* KPI card styling */
.kpi-card {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Titles and subtitles */
.title {
    font-size: 32px;
    color: #3a4552;
    font-family: 'Inter', sans-serif;
}

.title-color {
    font-size: 24px;
    color: #800080;
}

.ranking-title-color {
    font-size: 36px;
    color: #800080;
    /* margin-bottom: 0; */
}

/* extra Large screens (lg) - between 1400px and 2560 */
@media (max-width: 2560px) {
    .ranking-title-color {
        font-size: 32px;
    }
}

/* Large screens (lg) - between 1200px and 1600px */
@media (max-width: 1600px) {
    .ranking-title-color {
        font-size: 32px;
    }
}

/* Medium screens (md) - between 992px and 1200px */
@media (max-width: 1200px) {
    .ranking-title-color {
        font-size: 30px;
    }
}

/* Small screens (sm) - between 768px and 992px */
@media (max-width: 992px) {
    .ranking-title-color {
        font-size: 30px;
    }
}

/* Extra small screens (xs) - below 768px */
@media (max-width: 768px) {
    .ranking-title-color {
        font-size: 30px;
    }
}

.kpi-uni-name-title-color {
    font-size: 28px;
    color: #800080;
}

.subtitle-medium {
    font-size: 24px;
    color: #3a4552;
}

.subtitle-medium-color {
    font-size: 24px;
    color: #9b58b6;
}

.subtitle-medium-18-color {
    font-size: 18px;
    color: #9b58b6;
}

/* extra Large screens (lg) - between 1450px and 2560 */
@media (max-width: 2560px) {
    .subtitle-medium-18-color {
        font-size: 18px;
    }
}

/* Large screens (lg) - between 1200px and 1600px */
@media (max-width: 1600px) {
    .subtitle-medium-18-color {
        font-size: 14px;
    }
}

/* Medium screens (md) - between 992px and 1200px */
@media (max-width: 1200px) {
    .subtitle-medium-18-color {
        font-size: 16px;
    }
}

/* Small screens (sm) - between 768px and 992px */
@media (max-width: 992px) {
    .subtitle-medium-18-color {
        font-size: 18px;
    }
}

/* Extra small screens (xs) - below 768px */
@media (max-width: 768px) {
    .subtitle-medium-18-color {
        font-size: 18px;
    }
}

.subtitle-small {
    font-size: 14px;
    color: #3a4552;
}

.subtitle-small-color {
    font-size: 14px;
    color: #9b58b6;
    margin-bottom: 0;
}

/* extra Large screens (lg) - between 1400px and 2560 */
@media (max-width: 2560px) {
    .subtitle-small-color {
        font-size: 14px;
    }
}

/* Large screens (lg) - between 1200px and 1400px */
@media (max-width: 1600px) {
    .subtitle-small-color {
        font-size: 12px;
    }
}

/* Large screens (lg) - between 1200px and 1400px */
@media (max-width: 1400px) {
    .subtitle-small-color {
        font-size: 12px;
    }
}

/* Medium screens (md) - between 992px and 1200px */
@media (max-width: 1200px) {
    .subtitle-small-color {
        font-size: 14px;
    }
}

/* Small screens (sm) - between 768px and 992px */
@media (max-width: 992px) {
    .subtitle-small-color {
        font-size: 12px;
    }
}

/* Extra small screens (xs) - below 768px */
@media (max-width: 768px) {
    .subtitle-small-color {
        font-size: 14px;
    }
}

.subtitle-sidebar {
    font-size: 12px;
    color: #3a4552;
}

.subtitle-sidebar a {
    color: #3a4552;
    font-weight: bold;
    text-decoration: none;
}

.subtitle-sidebar a:hover {
    color: #f79500;
}

/* Body */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f5f5f5;
    margin-left: 16.3rem;
    margin-right: 8px;
    margin-top: 2rem;

}

/* Content */
.content {
    margin-left: calc(16.3rem + 1rem);
    margin-right: 1rem;
    padding: 1rem;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 16rem;
    padding: 1rem 1rem;
    background-color: #fff;
}

@media (max-width: 768px) {

    .sidebar {
        width: 12rem;
    }

    .content {
        margin-left: calc(12rem + 1rem);
    }
}

.sidebar-logo {
    margin-top: 1rem;
    display: flex;
}

.sidebar-logo img {
    height: auto;
    width: auto;
}

.nav-pills .nav-link {
    color: #3a4552;
}

.nav-pills .nav-link.active {
    color: #3a4552;
    background-color: #ececec;
}

/* Cards */
.card {
    border: 1px solid #fff;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 6px 8px rgba(89, 87, 87, 0.1);
    margin-bottom: 1rem;
}

.card-body {
    padding: 10px;
    color: #3a4552;
}

.card-icon {
    font-size:4vh;
    /* margin-right: 15px;
    margin-bottom: 10px; */
    color: #9b58b6;
}

.card-title {
    white-space: nowrap;
    font-size: 14px;
    color:#9b58b6;
    text-align: center;
}

/* Large screens (lg) - between 1200px and 1400px */
@media (max-width: 1450px) {
    .card-title {
        font-size: 65%;
    }
}

/* Medium screens (md) - between 992px and 1200px */
@media (max-width: 1200px) {
    .card-title {
        font-size: 14px;
    }
}

/* Small screens (sm) - between 768px and 992px */
@media (max-width: 992px) {
    .card-title {
        font-size: 18px;
    }
}

/* Extra small screens (xs) - below 768px */
@media (max-width: 768px) {
    .card-title {
        font-size: 20px;
    }
}

.card-text {
    font-size: 34px;
    color: #800080;
    text-align: center;
}

/* Large screens (lg) - between 1200px and 1400px */
@media (max-width: 1400px) {
    .card-text {
        font-size: 28px;
    }
}

.card-info {
    font-size: 1.5rem;
    color: #800080
}

.info-icon {
    color: #9b58b6;
}

/* Cards charts */
.chart-card {
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(89, 87, 87, 0.1);
    margin-bottom: 1rem;
}

/* Filter cards */
.filter-card {
    border: 2px solid #fff;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(89, 87, 87, 0.1);
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
}

.ranking-card {
    text-align: center;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

/* Placeholder */
.search-input {
    width: 50%;
    height: 20%;
    color: #3a4552;
    border: 1px solid #f79500;
    border-radius: 5px;
    padding: 10px;
}

button[disabled] {
    background-color: #6c757d !important;
    border-color: #6c757d !important;
    color: white !important;
}

.btn-custom:hover{
    background-color: #9b58b6;
}

/* restyle radio items */
.submissions-dropdown {
    padding-top: 10px;
    color: #9b58b6;
    height: 100%;
    width: 100%;
    text-align: center;
}

.submissions-dropdown .Select {  
    width: 60% !important;
    height: 80% !important;
    display: inline-block;
}

.submissions-dropdown .Select-control {  
    border: 2px solid white !important;
    color:#9b58b6 !important;
}

.submissions-dropdown .Select-value-label {  
    color:#9b58b6 !important;
}

.radio-group .form-check {
    padding-left: 0;
    padding-right: 0;
  }

.form-check-label.btn.btn-outline-primary {
    --bs-btn-color: #9b58b6;
    --bs-btn-border-color: #9b58b6;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #9b58b6;
    --bs-btn-hover-border-color: #9b58b6;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #9b58b6;
    --bs-btn-active-border-color: #9b58b6;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #9b58b6;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #9b58b6;
    --bs-gradient: none;
  }

.form-check-label.btn {
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-padding-y: 0.2rem;
    --bs-btn-font-size: 14px;
  }
  

.user-info-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #3a4552;
    margin-bottom: 1px;
    margin-top: 1px;
}

/* Table */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner th.dash-filter input.dash-filter--case--sensitive {
    font-family: Inter, sans-serif;
    color: #3a4552 !important;
    border-color: #3a4552 !important;
}

.dash-spreadsheet-container table {
    --border-color: #3a4552 !important;
    --accent: #3a4552 !important;
    --selected-background: #3a4552 !important;
    --selected-color: #3a4552 !important;
}

.dash-table-container .previous-next-container {
    font-size: 13px;
    text-align: right;
    padding: 5px 0px;
    color: #3a4552 !important;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
    color: #3a4552 !important;

}

/* Text danger */
.text-danger {
    font-family: Inter, sans-serif;
    font-size: 16px;
    color: #f41800;
    padding: 1px;

}

/* Text recommendation */
.text-recommendations {
    font-family: Inter, sans-serif;
    font-size: 16px;
    text-align: left;
    white-space: pre-wrap;
    color: #333333;
    background-color: #fff;
    padding: 25px;
    border: 1px solid #fff;
    border-radius: 8px;
    box-shadow: 0 6px 8px rgba(89, 87, 87, 0.1);
}

/* Tooltip */
.tooltip-inner {
    max-width: 300px;
    background-color: #211F1F;
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 3px;
}

.bs-tooltip-end .tooltip-arrow::before,
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before {
    border-right-color: #211F1F;
}